.annouchement-list {
    list-style: none;
    padding: 0;
}

.annouchement-list li {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.an-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.an-title h3 {
    font-weight: bold;
}

.an-title p {
    font-size: 14px;
}

.an-title::after {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0;
    background-color: #DC9E3D;
    width: 25%;
    height: 2px;
}

.news-list {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

.news-list li {
    flex-basis: 33%;
    padding: 10px;
}

.news-img {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    border-radius: 6px;
}

.news-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.news-content a h3 {
    margin: 5px 0 10px 0;
}

.news-content a p {
    margin: 0 !important;
}