block footer

    footer.footer
        .container 
            .footer-logo Company Name
            .footer-grid 
                .grid-item 
                    h4.title Company
                    .list 
                        a(href="javascript:void(0)").list-item About Us
                        a(href="javascript:void(0)").list-item Our Team
                        a(href="javascript:void(0)").list-item Careers
                        a(href="javascript:void(0)").list-item Press
                        a(href="javascript:void(0)").list-item In the Media
                        a(href="javascript:void(0)").list-item VPN Reviews
                        a(href="javascript:void(0)").list-item Companies We Support
                        a(href="javascript:void(0)").list-item Contact Us
                        a(href="javascript:void(0)").list-item Blog
                .grid-item 
                    h4.title programs
                    .list 
                        a(href="javascript:void(0)").list-item Whitehat 
                        a(href="javascript:void(0)").list-item Security 
                        a(href="javascript:void(0)").list-item Affiliates
                .grid-item 
                    h4.title learn more
                    .list 
                        a(href="javascript:void(0)").list-item VPN Encryption
                        a(href="javascript:void(0)").list-item Android VPN App
                        a(href="javascript:void(0)").list-item iOS VPN App
                        a(href="javascript:void(0)").list-item PIA Sitemap
                .grid-item 
                    h4.title LEGAL
                    .list 
                        a(href="javascript:void(0)").list-item Terms Of Service
                        a(href="javascript:void(0)").list-item Privacy Policy
                        a(href="javascript:void(0)").list-item DMCA Policy
                        a(href="javascript:void(0)").list-item Export Control Policy
                .grid-item 
                    h4.title ABOUT
                    p Private Internet Access is the leading VPN Service provider specializing in secure, encrypted VPN tunnels which create several layers of privacy and security providing you safety on the internet. Our service is backed by multiple gateways worldwide with access in 28+ countries, 44+ regions.
                    p Map data provided by Google.
                    p PC Mag Editor’s Choice award image reprinted with permission. © 2012 Ziff Davis, Inc. All Rights Reserved.
                    p PC Mag quote reprinted from www.pcmag.com with permission. © 2012 Ziff Davis, Inc. All Rights Reserved.
                    p © London Trust Media, Inc. All Rights Reserved.
                .grid-item.social
                    h4.title SOCIAL
                    .list 
                        a(href="javascript:void(0)").list-item: i.fab.fa-facebook-f
                        a(href="javascript:void(0)").list-item: i.fab.fa-twitter
                        a(href="javascript:void(0)").list-item: i.fab.fa-google-plus-g
                        a(href="javascript:void(0)").list-item: i.fab.fa-linkedin
                        a(href="javascript:void(0)").list-item: i.fab.fa-reddit
                        a(href="javascript:void(0)").list-item: i.fab.fa-youtube

    script(src='js/jquery-3.6.0.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/aos.js')
    script(src='js/owl.carousel.min.js')
    script(src='js/main.js')