block header
    header.header
        .top-header 
            .container 
                .top-header__item.top-header__alert 
                    .icon: i.fas.fa-exclamation-triangle
                    span You are not protected
                .top-header__item.top-header__yourip 
                    span Your IP Address: &nbsp;
                    span#yourip 107.3.176.194
                .top-header__item.top-header__yourisp 
                    span Your ISP:  &nbsp;
                    span#yourisp Comcast Cable
                a(href="javascript:void(0)").btn.top-header__item Learn More ›
                a(href="javascript:void(0)").close-btn &times;

        .header-nav
            .container
                .header-logo: .logo Company Name
                .header-menu 
                    nav.menu 
                        a(href="javascript:void(0)").menu-item
                            span Why Us
                            span: i.fas.fa-caret-down
                        a(href="javascript:void(0)").menu-item Vpn Apps
                        a(href="javascript:void(0)").menu-item.drop-item 
                            span Support
                            span: i.fas.fa-caret-down
                        a(href="javascript:void(0)").menu-item.drop-item 
                            span Resources
                            span: i.fas.fa-caret-down
                .header-btngroup
                    a(href="javascript:void(0)").log-in Log In
                    a(href="javascript:void(0)").get-start Get Started