doctype html
html(lang='en')
    head
        include modules/head
    body
        include modules/header
        
        section.slider-section 
            .container 
                .slider-area
                    .slider-area__img: img(src="img/slider.jpg", alt="TV Addons")
                    .slider-area__content
                        h1.content__title TV Addons: Legal battle against Canadian media giants demonstrates severe consequences facing developers accused of copyright infringement
                        .content__info
                            .info-data 
                                a(href="javascript:void(0)") Danica Sergison
                                span |  JUL 08, 2018
                            .info-tags
                                a(href="javascript:void(0)") Copyright, 
                                a(href="javascript:void(0)") News, 
                                a(href="javascript:void(0)") Open Source, 
                                a(href="javascript:void(0)") Privacy
                            .info-comments
                                i.far.fa-comment-alt
                                span 0
        section.tags-section 
            .container
                .tags-menu 
                    .tags-menu__title TAGS:
                    a(href="javascript:void(0)").tags-menu__item bitcoin
                    a(href="javascript:void(0)").tags-menu__item bittorrent
                    a(href="javascript:void(0)").tags-menu__item irc
                    a(href="javascript:void(0)").tags-menu__item news
                    a(href="javascript:void(0)").tags-menu__item privacy
                    a(href="javascript:void(0)").tags-menu__item programming
                    a(href="javascript:void(0)").tags-menu__item security
                .tags-links 
                    a(href="javascript:void(0)").tags-links__item team
                    a(href="javascript:void(0)").tags-links__item contact
        section.section-post 
            .container
                .recent-post 
                    h2.title Recent posts
                    ul.post-list
                        li.post-list__item 
                            .item-img: a(href="javascript:void(0)"): img(src="img/post-1.jpg", alt="Post")
                            .item-content
                                h4.title The Internet Cannot be Trusted – Beamsplitters, Backdoors, and Broken Promises
                                .autor 
                                    a(href="javascript:void(0)") Derek Zimmer
                                    span  |  JUL 25, 2018
                                .tags
                                    a(href="javascript:void(0)") Copyright, 
                                    a(href="javascript:void(0)") News, 
                                    a(href="javascript:void(0)") Open Source, 
                                    a(href="javascript:void(0)") Privacy
                                .comments
                                    i.far.fa-comment-alt
                                    span 0
                        li.post-list__item 
                            .item-img: a(href="javascript:void(0)"): img(src="img/post-2.jpg", alt="Post")
                            .item-content
                                h4.title How to get cheaper flights using a VPN
                                .autor 
                                    a(href="javascript:void(0)") Jayson
                                    span  |  JUL 24, 2018
                                .tags
                                    a(href="javascript:void(0)") Guides
                                .comments
                                    i.far.fa-comment-alt
                                    span 0
                        li.post-list__item 
                            .item-img: a(href="javascript:void(0)"): img(src="img/post-3.jpg", alt="Post")
                            .item-content
                                h4.title Net Neutrality was repealed, but the fight is far from over
                                .autor 
                                    a(href="javascript:void(0)") Chris Miller
                                    span  |  JUL 22, 2018
                                .tags
                                    a(href="javascript:void(0)") Governments,
                                    a(href="javascript:void(0)") Net Neutrality,
                                    a(href="javascript:void(0)") News
                                .comments
                                    i.far.fa-comment-alt
                                    span 0
                        li.post-list__item 
                            .item-img: a(href="javascript:void(0)"): img(src="img/post-1.jpg", alt="Post")
                            .item-content
                                h4.title The Internet Cannot be Trusted – Beamsplitters, Backdoors, and Broken Promises
                                .autor 
                                    a(href="javascript:void(0)") Derek Zimmer
                                    span  |  JUL 25, 2018
                                .tags
                                    a(href="javascript:void(0)") Copyright, 
                                    a(href="javascript:void(0)") News, 
                                    a(href="javascript:void(0)") Open Source, 
                                    a(href="javascript:void(0)") Privacy
                                .comments
                                    i.far.fa-comment-alt
                                    span 0
                        li.post-list__item 
                            .item-img: a(href="javascript:void(0)"): img(src="img/post-2.jpg", alt="Post")
                            .item-content
                                h4.title How to get cheaper flights using a VPN
                                .autor 
                                    a(href="javascript:void(0)") Jayson
                                    span  |  JUL 24, 2018
                                .tags
                                    a(href="javascript:void(0)") Guides
                                .comments
                                    i.far.fa-comment-alt
                                    span 0
                        li.post-list__item 
                            .item-img: a(href="javascript:void(0)"): img(src="img/post-3.jpg", alt="Post")
                            .item-content
                                h4.title Net Neutrality was repealed, but the fight is far from over
                                .autor 
                                    a(href="javascript:void(0)") Chris Miller
                                    span  |  JUL 22, 2018
                                .tags
                                    a(href="javascript:void(0)") Governments,
                                    a(href="javascript:void(0)") Net Neutrality,
                                    a(href="javascript:void(0)") News
                                .comments
                                    i.far.fa-comment-alt
                                    span 0
                    .other-post
                        a(href="javascript:void(0)") older posts
                .nav-blog
                    .nav-blog__search
                        i.fas.fa-search
                        input(type="text" placeholder="Search blog")
                    .nav-blog__post
                        h3.title 
                            i.far.fa-bell
                            span Announcements
                        ul.list 
                            a(href="javascript:void(0)").list-item Upcoming Changes (Live Chat, Less Censorship, More Access)
                            a(href="javascript:void(0)").list-item New Servers (US Washington DC)
                            a(href="javascript:void(0)").list-item New Servers (US Denver)
                            a(href="javascript:void(0)").list-item Open Source: Releasing the PIA iOS Client
                            a(href="javascript:void(0)").list-item Opera Extension is now available
                    .nav-blog__post
                        h3.title 
                            i.fas.fa-rss
                            span Announcements
                        ul.list 
                            a(href="javascript:void(0)").list-item The Gift of Privacy
                            a(href="javascript:void(0)").list-item UK High Court Censors Many Links To Popcorn Time: Useless, Dangerous Gesture
                            a(href="javascript:void(0)").list-item About the PIA Client Security and VPN Security in General
                            a(href="javascript:void(0)").list-item A Private Net Is Just As Fundamental A Right As Freedom Of Speech
                            a(href="javascript:void(0)").list-item Wiretapping Today Just Doesn’t Mean What The Word Meant In The 1990s, So Don’t Fall For That Lie
                    .nav-blog__post.big-brother: a(href="javascript:void(0)"): img(src="img/big-brother.jpg", alt="big-brother")
                    .nav-blog__post.tag-cloud
                        h5.title Tag cloud
                        a(href="javascript:void(0)"): img(src="img/tag-cloud.jpg", alt="tag-cloud")
        section.section-price 
            .container 
                h2.title Sign up today – 7 day money back guarantee
                .price-list 
                    .price-list__item
                        h5.title MONTHLY
                        .line 
                        .price 
                            .count $
                            .number 6.95
                            .time /mo.
                        .dsc Includes all VPN features.
                        .btn: a(href="javascript:void(0)") SIGN UP
                    .price-list__item.hot-item
                        h5.title MONTHLY
                        .line 
                        .price 
                            .count $
                            .number 2.91
                            .time /mo.
                        .dsc
                            span.old-price $166.80
                            span $69.95 per two years
                        .save Save 58%*
                        .btn: a(href="javascript:void(0)") SIGN UP
                    .price-list__item
                        h5.title MONTHLY
                        .line 
                        .price 
                            .count $
                            .number 3.33
                            .time /mo.
                        .dsc
                            span.old-price $83.40
                            span $39.95 per year
                        .save Save 52%*
                        .btn: a(href="javascript:void(0)") SIGN UP
                .pay-list 
                    h6.title Ways to pay:
                    .pay-list__item: img(src="img/visa.png", alt="visa")
                    .pay-list__item: img(src="img/mastercard.png", alt="mastercard")
                    .pay-list__item: img(src="img/express.png", alt="express")
                    .pay-list__item: img(src="img/paypal.png", alt="paypal")
                    .pay-list__item: img(src="img/bitcoin.png", alt="bitcoin")
                    .pay-list__item: img(src="img/ok-pay.png", alt="ok-pay")
                    .pay-list__item: img(src="img/amazon-pay.png", alt="amazon-pay")
                .pay-links 
                    a(href="javascript:void(0)") 
                        span How to pay anonymously 
                        i.fas.fa-arrow-right
                    a(href="javascript:void(0)") 
                        span REDEEM GIFT CARD
                        i.fas.fa-arrow-right

    include modules/footer