.annouchement-list {
    list-style: none;
    padding: 0;
}

.annouchement-list li {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.an-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.an-title h3 {
    font-weight: bold;
}

.an-title p {
    font-size: 14px;
}

.an-title::after {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0;
    background-color: #DC9E3D;
    width: 25%;
    height: 2px;
}