@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #ddd;
}

ul {
    list-style: none;
}

a {
    color: #800080;
    font-weight: bold;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60vw;
    height: 100%;
    min-height: 100vh;
    padding: 25px 0;
    margin: 0 auto;
}

.main__portfolio {
    width: 100%;
    display: flex;
    align-items: center;
}

.main__portfolio-img {
    position: relative;
    border-radius: 50%;
    margin-right: 50px;
}

.main__portfolio-img img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: 100% 25%;
    border-radius: 50%;
    border: 5px solid #CC99FE;
}

.main__portfolio-text {}

.main__portfolio-text h2 {
    margin: 0px 0;
    font-weight: bold;
    font-size: 36px;
}

.main__portfolio-text h2 span {
    color: #800080;
}

.main__portfolio-text p {
    font-weight: 600;
    line-height: 25px;
}

.main .main__contact {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main .main__contact h3 {
    text-decoration: underline;
    font-weight: 700;
    font-size: 26px;
}

.main .main__contact ul {
    display: flex;
    padding: 0 !important;
}

.main .main__contact ul li {
    margin-right: 15px;
}

.main .main__contact ul li:last-child { 
    margin-right: 0; 
}

.main .main__contact ul li a {
    background-color: #CC99FE;
    color: #922b2b;
    border: 2px solid#800080;
    box-shadow: #800080 3px 3px 1px 0px;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    transition: all .4s;
}

.main .main__contact ul li a:hover {
    box-shadow: none;
}

.main .main__title {
    width: 100%;
    margin: 0 0 25px;
    text-align: center;
    height: max-content;
    background-color: #CC99FE;
    border: 2px solid#800080;
    box-shadow: #800080 5px 5px 1px 0px;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}

.main .main__title h1 {
    font-weight: bold;
    color: #28275d;
}

.main__grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}

.grid-item {
    background-color: #CC99FE;
    border: 2px solid #800080;
    box-shadow: #800080 5px 5px 1px 0px;
    color: #28275d;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    transition: all .4s;
}
.grid-item.grid-title {
    background-color: #fff;
    /*border: none;*/
    /*box-shadow: none;*/
    grid-column: span 3;
}

.grid-item.grid-title h3 {
    border: none;
    margin: 0;
}

/* .grid-item:hover {
    padding-top: 15px;
    box-shadow: none;
} */

.grid-item h3 {
    border-bottom: 2px solid #800080;
    margin: 0 0 15px 0;
    padding: 5px 15px;
    text-align: center;
}

.grid-item a {
    display: block;
    text-decoration: none;
    color: #922b2b;
    font-size: 18px;
    font-weight: bold;
}

@media only screen and (max-width: 1100px) {
    .main {
        width: 80vw;
    }
}

@media only screen and (max-width: 768px) {
    .main {
        width: 90vw;
    }

    .main__portfolio {
        flex-direction: column;
    }

    .main__grid {
        grid-template-columns: 1fr;
    }

    .grid-item.grid-title {
        grid-column: span 1;
    }
}

@media only screen and (max-width: 500px) {
    .main .main__contact {
        flex-direction: column !important;
        margin-bottom: 20px;
    }
}