.radio-select {
  display: flex;
  flex-direction: row;
  padding: 4px 10px;
  background: #ead0a3;
  .check {
    position: relative;
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: row;
    margin: 0;
    &__input {
      position: absolute;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      list-style: none;
      padding: 0;
      opacity: 0;
      &:checked + .check__box{
        background-color: #fff;
      }
    }
    &__box {
      position: absolute;
      width: 30px;
      height: 30px;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      font-size: 13px;
      border-radius: 2px;
    }
  }
}